<div class="container">
    <h4>Manage Products
        <mat-spinner diameter="20" *ngIf="showSpinner"></mat-spinner><button mat-raised-button color="primary" routerLink="/administration/manage/product/add">Add Product</button></h4>
    <table class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-md-2 td-container">Product</th>
                <th class="col-md-2 td-container">Name</th>
                <th class="col-md-6 td-container">Description</th>
                <th class="col-md-2 td-container">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex" *ngFor="let product of products">
                <td class="col-md-2 td-container"><img class="img-fluid img-thumbnail" src="{{product.url}}" alt="{{product.name}}.jpg"></td>
                <td class="col-md-2 td-container">{{product.name}}</td>
                <td class="col-md-6 td-container">
                    <div>{{product.description}}</div>
                </td>
                <td class="col-md-2 td-container">
                    <div class="fa-icon">
                        <a href="JavaScript:(0)" (click)="viewPricingDetails(product)" class="remove">
                            <i class="fa fa-pencil-square-o" matTooltip="Edit Product / Pricing" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="fa-icon">
                        <a href="JavaScript:(0)" (click)="deleteProduct(product._id)" class="remove">
                            <i class="fa fa-trash" matTooltip="Delete Product"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>