<div class="wrapper1">
    <h3 class="text-center">How to Order</h3>
    <br>
    <div class="row">
        <div class="col-md-2 offset-md-1 col-sm-4 col-xs-6">
            <img src="../../assets/images/upload-photo.svg" class="img-fluid how-to" alt="upload-photo">
            <p class="text-center">Upload Photo</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-fluid  how-to" src="../../assets/images/select-art-type.svg" alt="select-art-type">
            <p class="text-center">Select Art Type</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-fluid  how-to" src="../../assets/images/select-work-size.svg" alt="select-work-size">
            <p class="text-center">Select Work Size</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-fluid  how-to" src="../../assets/images/half-payment.svg" alt="half-payment">
            <p class="text-center">Make half payment in advance</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-fluid  how-to" src="../../assets/images/initiate-work.svg" alt="initiate-work">
            <p class="text-center">We will initiate your work</p>
        </div>
    </div>
</div>

<div class="wrapper">
    <form>
        <div class="row">
            <div class="col-md-7 offset-md-1 text-center">
                <br>
                <div class="img-holder">
                    <label *ngIf="!photo" for="file-upload" class="img-input">
                    Upload Your Picture
                </label>
                    <input id='file-upload' type="file" (change)="onFileSelect($event)">
                    <img class='selectedImage img-fluid' [src]="image" alt="" *ngIf="photo">
                </div>
                <label *ngIf="photo" for="file-upload" class="img-change">
                Change Picture
            </label>
                <input id='file-upload' type="file" (change)="onFileSelect($event)">
            </div>
            <div class="col-md-3 col-xs-12 text-center">
                <div class="control">
                    <mat-form-field>
                        <mat-label>Art Work Type</mat-label>
                        <mat-select name="selectArtType" [(ngModel)]="selectedArtType">
                            <mat-option *ngFor="let artType of artTypes" [value]="artType.name">
                                {{artType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="control">
                    <mat-form-field>
                        <mat-label>Art Work Size</mat-label>
                        <mat-select name="selectArtSize" [(ngModel)]="selectedArtSize">
                            <mat-option *ngFor="let artSize of artSizes" [value]="artSize.value">
                                {{artSize.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="control">
                    <mat-form-field class="example-full-width">
                        <mat-label>Expected Delivery Date
                        </mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="edate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="control">
                    <mat-form-field class="example-full-width">
                        <mat-label>Instructions for the artist
                        </mat-label>
                        <textarea matInput rows="5" name="instructions" [(ngModel)]="instructions"></textarea>
                    </mat-form-field>
                </div>
                <div class="control">
                    <button mat-raised-button color="accent">Place Order</button>
                </div>

            </div>

        </div>
    </form>

</div>