<div class="my-container">
  <div class="card mx-auto">
    <div class='main' *ngIf="!success">
      <img class='lock-img' src="../../../assets/images/forgot-password.png" alt="lock-image.jpg">
      <br>
      <h4>Forgot Your Password?</h4>
      <br>
      <p class='caption'>No worries! Enter your email and we will send you a reset.</p>
      <br><br>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit(forgotPasswordForm)">
        <mat-form-field>
          <input matInput type="text" name="email" [(ngModel)]="email" placeholder="Email" [pattern]="emailRegex"
            required>
          <mat-error align='end' *ngIf="forgotPasswordForm.submitted && forgotPasswordForm.controls.email.invalid">
            <label *ngIf="forgotPasswordForm.controls.email.errors.required" class='validation-message'>Enter email
              id.</label>
            <label *ngIf="forgotPasswordForm.controls.email.errors.pattern" class="validation-message">Invalid email
              id.</label>
          </mat-error>
        </mat-form-field>
        <p class='errorMessage'>{{message}}</p>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]='showSpinner'><mat-spinner diameter="20" *ngIf="showSpinner"></mat-spinner>Submit</button>
        <br><br>
      </form>
    </div>
    <div class="success" *ngIf="success">
      <i class="fa fa-check-circle-o" aria-hidden="true"></i><br><br>
      <h4>Password reset link sent.</h4>
      <p>{{message}}</p>
    </div>
  </div>
</div>
