<div class='backImg'>
    <h2>About Us</h2>
    <p>_______</p>
    <p class='caption'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim eius velit, nostrum et facere dignissimos quod odit distinctio necessitatibus corrupti?</p>
</div>
<br><br>
<div class="container">
    <h2>Our Story</h2>
    <br>
    <div class="row">
        <div class="col-md-5">
            <a href="https://placeholder.com"><img src="https://via.placeholder.com/756" class="img-fluid" alt=""></a>
        </div>
        <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus doloribus eos laboriosam non explicabo nihil quia eligendi sint exercitationem nemo libero minus, culpa inventore pariatur accusantium reprehenderit deserunt
                repellendus! Cum quia ut reprehenderit dolore, quod tempora, alias similique dolores earum temporibus odit iusto debitis odio impedit. Consequuntur nesciunt rerum sequi deserunt quos eius iusto officiis debitis nam quidem molestias aspernatur
                minima labore dolor, ipsum distinctio itaque laboriosam commodi, laborum vel id similique sit? Asperiores itaque aperiam quaerat voluptatem quam accusantium molestiae consequuntur illo dolores eveniet dolorum delectus veritatis quibusdam
                debitis voluptatibus rerum ipsa inventore impedit enim cupiditate necessitatibus possimus suscipit, nesciunt dolore? Ut, tempore debitis fuga exercitationem magni dolore eum reprehenderit molestiae distinctio illum eos veniam tenetur aliquam
                quaerat blanditiis libero animi repellat, consectetur quam praesentium? Doloribus nemo consectetur fugit exercitationem molestiae eum, facilis adipisci nihil nostrum sit, architecto odio quibusdam veniam ipsum tenetur amet, delectus alias
                aliquam molestias animi fuga ipsam ducimus a ea. Hic sunt aut veritatis iste! Pariatur omnis rerum maxime! Aperiam aliquid ipsam minus quibusdam quidem, quae at repudiandae nesciunt tenetur earum sunt totam, numquam iusto atque dolor.
                Nam facere inventore tempora accusantium, doloremque dignissimos ullam dolorum repellendus maiores maxime facilis, porro animi, aliquam rem ducimus fugiat.
            </p>
        </div>

    </div>

</div>