<div class="wrapper">
  <button mat-raised-button color="primary" name="make-to-order" routerLinkActive='activeBlock'
    routerLink='exclusive-arts'>Exclusive Arts</button>&nbsp;
  <button mat-raised-button color="primary" name="pick-from-gallery" routerLinkActive='activeBlock'
    routerLink='gallery-of-art'>Pick from Gallery</button>&nbsp;
  <button mat-raised-button color="primary" name="advertise" routerLinkActive='activeBlock'
    routerLink='advertise'>Advertise</button>
</div>
<router-outlet></router-outlet>

<!-- 
<app-make-to-order *ngIf="orderNav.showMakeToOrder"></app-make-to-order>
<app-advertise *ngIf="orderNav.showAdvertise"></app-advertise>
<app-gallery-of-art *ngIf="orderNav.showGallery"></app-gallery-of-art> -->
