.wrapper1 {
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 20px 0;
}

.how-to {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 20px 0;
}


/* .btn {
    width: fit-content;
    border-radius: 0;
    color: white;
    background-color: #4B378F;
    box-shadow: 3px 3px 3px grey;
    margin: 0px;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #4B378F;
} */

.img-input {
    margin: 40px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.img-input:hover {
    color: green;
    border: 1px solid green;
}

.img-change {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.img-change:hover {
    color: green;
    border: 1px solid green;
}

.selectedImage {
    margin: auto auto;
    max-width: 100%;
    max-height: 500px;
}

.img-render {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: auto;
    border: 1px solid black;
    max-width: 350px;
}

.control {
    /* margin: 20px 5px; */
    margin: 20px auto;
    min-width: 210px;
    max-width: 250px;
    padding: 0;
}

mat-form-field {
    width: 100%;
}

label {
    white-space: nowrap;
}

.dateinput {
    width: 100%;
}

.dropdown-menu {
    margin: 0px;
    border: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 0 0 3px 0;
    box-shadow: 3px 3px 3px grey;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item:hover {
    background-color: rgb(210, 210, 211);
}

.img-holder {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    text-align: center;
    padding: 2px;
}

.img-holder img {
    max-height: 420px;
}

.table thead th {
    min-width: 70px;
    font-size: 0.8em;
}

.table td {
    padding: 2px 5px;
}

#file-upload {
    display: none;
}

.custom-grid {
    padding: 2px 5px;
    font-size: 0.7em;
}

.btn-success {
    font-size: 0.95em;
}

@media (min-width: 300px) {}

@media (min-width: 360px) {}

@media (min-width: 400px) {}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .img-input {
        margin-top: 100px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .img-holder {
        min-height: 380px;
    }
    .img-input {
        margin-top: 140px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .img-holder {
        min-height: 420px;
    }
    .img-input {
        margin-top: 170px;
    }
}