<div class="wrapper1">
    <h3 class="text-center">Add Product</h3>
    <hr>
    <div class="wrapper">
        <form #addProductForm='ngForm' (ngSubmit)="onAddProduct(addProductForm)">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="email" class="form-control form-control-sm" name="productName" placeholder="e.g. Mona Lisa">
                    </div>

                    <div class="form-group">
                        <label for="description">Product Description</label>
                        <textarea class="form-control form-control-sm" name="description" [(ngModel)]="description" rows="6" placeholder="e.g. The Mona Lisa is an oil painting by Italian artist, inventor, and writer Leonardo da Vinci. Likely completed in 1506, the piece features a portrait of a seated woman set against an imaginary landscape. "></textarea>
                    </div>
                    <div class="control">
                        <button type="submit" mat-raised-button color="accent">Add Product</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <form #addPricingForm='ngForm' (ngSubmit)="addPricing(addPricingForm)">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <h4>Pricing</h4>
                                </tr>
                                <tr class="d-flex">
                                    <th class="col-md-4">Art Type</th>
                                    <th class="col-md-2">Art Size</th>
                                    <th class="col-md-3">Price</th>
                                    <th class="col-md-3">Action</th>
                                </tr>
                                <tr class="d-flex">
                                    <th class="col-md-4">
                                        <select class="form-control form-control-sm" name="artType" [(ngModel)]="selectedArtType">
                                    <option *ngFor="let artType of artTypes" [value]="artType.name">{{artType.name}}</option>
                                </select>
                                    </th>
                                    <th class="col-md-2">
                                        <select class="form-control form-control-sm" name="artSize" [(ngModel)]="selectedArtSize">
                                    <option *ngFor="let artSize of artSizes" [value]="artSize.value">{{artSize.value}}</option>
                                  </select>
                                    </th>
                                    <th class="col-md-3">
                                        <input class="form-control form-control-sm" type="text" name="price" [(ngModel)]="selectedArtPrice"></th>
                                    <th class="col-md-3"><button type="submit" class='btn btn-success'>Add</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" *ngFor="let productPrice of productPrices">
                                    <td class="col-md-4">{{productPrice.artType}}</td>
                                    <td class="col-md-2">{{productPrice.artSize}}</td>
                                    <td class="col-md-3">{{productPrice.price}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-md-4 text-center">
                    <br>
                    <div class="img-holder">
                        <label *ngIf="!photo" for="file-upload" class="img-input">Upload Product Image</label>
                        <input id='file-upload' type="file" name="image" (change)="onFileSelect($event)">
                        <img class='selectedImage img-fluid' [src]="image" alt="" *ngIf="photo">
                    </div>
                    <label *ngIf="photo" for="file-upload" class="img-change">Change Picture</label>
                </div>

            </div>
        </form>
    </div>