<div class="container">
  <mat-card class="card">
    <form>

      <mat-card-header>
        <h4>Make Payment</h4>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Name on Card">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Card Number">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate" placeholder="Card Expiry Date"
            [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field> &nbsp;
        <mat-form-field>
            <input matInput placeholder="CVV" id="cc-cvc" type="tel" autocomplete="off" ccCVC>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onPayment()">Pay Now</button>
        <button mat-button (click)="onBack()">Back</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
