<div class="success" *ngIf="showSuccessMessage">
    {{showSuccessMessage}}
</div>
<div class="fail" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>
<div class="my-container">
    <div class="card mx-auto">
        <h4>Sign Up</h4>
        <br>
        <form #signUpForm='ngForm' (ngSubmit)="onSignUp(signUpForm)">
            <mat-form-field>
                <input matInput type='text' name='firstName' [(ngModel)]="authService.selectedUser.firstName" placeholder="First Name" required [pattern]="nameRegex">
                <mat-error align='end' *ngIf="signUpForm.submitted && signUpForm.controls.firstName.invalid">
                    <label *ngIf="signUpForm.controls.firstName.errors.required" class='validation-message'>Enter your first
            name.</label>
                    <label *ngIf="signUpForm.controls.firstName.errors.pattern" class="validation-message">Maximum 30 characters
            allowed.</label>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type='text' name='lastName' [(ngModel)]="authService.selectedUser.lastName" placeholder="Last Name" required [pattern]="nameRegex">
                <mat-error align='end' *ngIf="signUpForm.submitted && signUpForm.controls.lastName.invalid">
                    <label *ngIf="signUpForm.controls.lastName.errors.required" class='validation-message'>Enter your last
            name.</label>
                    <label *ngIf="signUpForm.controls.lastName.errors.pattern" class="validation-message">Maximum 30 characters
            allowed.</label>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type='text' name='email' [(ngModel)]="authService.selectedUser.email" placeholder="Email" required [pattern]="emailRegex">
                <mat-error align='end' *ngIf="signUpForm.submitted && signUpForm.controls.email.errors">
                    <label *ngIf="signUpForm.controls.email.errors.required" class="validation-message">Enter your email
            id.</label>
                    <label *ngIf="signUpForm.controls.email.errors.pattern" class="validation-message">Invalid email
            id.</label>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type='password' name='password' [(ngModel)]="authService.selectedUser.password" placeholder="Password" minlength="8" maxlength="15" required [pattern]="passwordRegex">
                <mat-error align='end' *ngIf="signUpForm.submitted && signUpForm.controls.password.errors">
                    <label *ngIf="signUpForm.controls.password.errors.required" class="validation-message">Enter a
            password.</label>
                    <label *ngIf="(signUpForm.controls.password.errors.minlength && signUpForm.controls.password.errors.maxlength)" class="validation-message">Password should
            contain 8-15 characters.</label>
                    <label *ngIf="signUpForm.controls.password.errors.pattern" class="validation-message">Password should contain
            atleast one lower case, one uppercase, one digit and one special character.</label>
                </mat-error>
            </mat-form-field>
            <br><br>
            <button type="submit" mat-raised-button color="primary">Sign Up</button>
            <br><br>
            <a routerLink="/sign-in" queryParamsHandling='preserve'>Already have an account? LOGIN</a>
            <br><br>
            <a href="http://localhost:3000/api/user/auth/google">
                <button type="button" mat-button color="primary">
                    <img src="./../../../assets/images/google.png" alt="google-img" class='img img-fluid'>
                    Signup with Google
                </button>
            </a>
            <a href="http://localhost:3000/api/user/auth/facebook">
                <button type="button" mat-button color="primary">
                    <img src="./../../../assets/images/facebook.png" alt="facebook-img" class='img img-fluid'>
                    Signup with Facebook
                </button>
            </a>
        </form>
    </div>
</div>