<div class="footer" (click)="gotoTop()">
    <div class="row back-to-top">
        <p class="mx-auto">Back To Top</p>
    </div>
    <br>
    <div class="row">
        <div class="offset-md-3 offset-sm-3 offset-xs-3 col-md-2 col-sm-2 col-xs-2">
            <h6>Get to Know us</h6>
            <ul>
                <li class='link' routerLink='/about-us'>About Us</li>
                <li class='link' routerLink='/contact-us'>Contact Us</li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <h6>Connect with us</h6>
            <ul>
                <li><a href="https://www.facebook.com/profile.php" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <h6>Sitemap</h6>
            <ul>
                <li class='link' routerLink='/userprofile'>My Account</li>
                <li class='link' routerLink='/gallery-of-art'>Gallery of Art</li>
                <li class='link' routerLink='/order/exclusive-arts'>Exclusive Arts</li>
                <li class='link' routerLink='/order/advertise'>Advertise</li>
            </ul>
        </div>
    </div>
    <div class="row copyright">
        <div class="col md-12">
            <hr class="hr-line">
            <p class='copyright mx-auto'> &copy; Copyright 2020 | Hunar | All Rights Reserved </p>
        </div>
    </div>

</div>