::placeholder {
    color: rgb(190, 190, 190);
    opacity: 0.8;
}

.img-input {
    font-size: small;
    border: 1px solid rgb(44, 44, 44);
    padding: 6px 12px;
    cursor: pointer;
    margin: 0;
    color: white;
    background-color: black;
}

.img-input:hover {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

.img-change {
    font-size: small;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.img-change:hover {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

.selectedImage {
    margin: auto auto;
    max-width: 100%;
    max-height: 500px;
}

.img-render {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: auto;
    border: 1px solid black;
    max-width: 350px;
}

.control {
    margin: 20px 0;
    min-width: 210px;
    max-width: 250px;
    padding: 0;
}

mat-form-field {
    width: 100%;
}

label {
    white-space: nowrap;
}

.img-holder {
    padding: 5px;
    width: auto;
    text-align: center;
    position: relative;
    min-height: 100px;
}

.img-holder img {
    max-height: 420px;
}

#file-upload {
    display: none;
}