<div class="my-container">

  <div class="card mx-auto">
    <div class='main' *ngIf="!success && !failed">
      <h4>Password Reset</h4>
      <br>
      <form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.valid && onSubmit(resetPasswordForm)">
        <mat-form-field>
          <input matInput type="password" name="password" [(ngModel)]="password" required placeholder="New Password"
            minlength="8">
          <mat-error align='end' *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls.password.invalid">
            <label *ngIf="resetPasswordForm.controls.password.errors.required" class='validation-message'>Enter new
              password.</label>
            <label *ngIf="resetPasswordForm.controls.password.errors.minlength" class='validation-message'>Password
              should
              be
              atleast 8 characters long.</label>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" name="cpassword" appConfirmEqualValidator='password' [(ngModel)]="cpassword"
            required placeholder="Confirm Password" minlength="8">
          <mat-error align='end' *ngIf="resetPasswordForm.submitted && resetPasswordForm.controls.cpassword.invalid">
            <label *ngIf="resetPasswordForm.controls.cpassword.errors.required" class='validation-message'>Confirm
              password.</label>
            <label *ngIf="resetPasswordForm.controls.cpassword.errors.notEqual" class='validation-message'>Password and
              Confirm Password does not match.</label>
          </mat-error>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary">Reset</button>
      </form>
    </div>
    <div class="success" *ngIf="success">
      <i class="fa fa-check-circle-o" aria-hidden="true"></i><br><br>
      <hr>
      <p>{{message}}</p>
      <hr>
      <a routerLink='/sign-in'>Login</a>
    </div>
    <div class="failed" *ngIf="failed">
      <p>{{message}}</p>
      <hr>
      <a routerLink='/forgot-password'>Reset Again?</a>
    </div>
  </div>
</div>
