.sub-container {
    max-height: 150px;
    font-size: 80%;
    margin-top: 10px;
}

.sub-container div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: justify;
    /*     text-overflow: ellipsis;
    white-space: nowrap; */
}

.sub-container img {
    max-height: 125px;
    width: auto;
}

.bold {
    font-weight: bold;
}

.row {
    margin-top: 20px;
    ;
}